.board-row .square {
    border: 1px solid #000;
    margin: 0px -1px -1px 0;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
  }

 .board-row .square span{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.hidden{
    visibility: hidden;
}
.show{
    visibility: visible;
}